

.abc-checkbox label::before {
  border-radius: 0;
}

.abc-checkbox input[type="checkbox"]:focus + label::before, .abc-checkbox input[type="radio"]:focus + label::before {
  outline: none;
  border-color: #8ad4ee;
}

.abc-checkbox .styled.is-danger + label::before {
  border-color: $brand-danger;
}
