

.markdown-container {
  width: 100%;
  margin-top: 5px;

  .markdown-preview {
    padding: 0.5rem 0.75rem;

    pre {
      margin: 0;
    }

    p:first-child {
      margin-bottom: 0;
    }

    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }

  .markdown-toggler {
    margin-bottom: 5px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

