.table.__with-edit-delete {
    th:nth-last-child(1),
    th:nth-last-child(2),
    td:nth-last-child(1),
    td:nth-last-child(2) {
        width: 50px;
        text-align: center;

        a {
            height: 29px;
        }
    }
}

.table {
    td {
        //vertical-align: middle;
    }

    .is-id {
        width: 54px;
    }

    .is-image {
        width: 54px;
    }

    .is-status {
        width: 100px;
        text-align: center;
    }
    .is-url {
        width: 100px;
        text-align: center;
    }
    .is-created_at {
        width: 150px;
        text-align: center;
    }
    .is-phone {
        width: 100px;
        text-align: center;
    }

    .is-show {
        width: 94px;
        text-align: center;
    }

    .is-active {
        width: 82px;
        text-align: center;
    }

    .btn-sm {
        &.is-icon {
            padding-left: 10px;
            padding-right: 10px;
        }

        i {
            padding-bottom: 2px;
            padding-top: 3px;
        }
    }

    .is-categories {
        width: 120px;
        text-align: center;
    }

    .is-periods {
        width: 140px;
        text-align: center;
    }

    .is-active_date {
        width: 140px;
        text-align: center;
    }

    .is-active_date {
        width: 140px;
        text-align: center;
    }

    th.is-active_date {
        line-height: 17px;
        padding: 5px;
    }

    .is-active_end_date {
        width: 140px;
        text-align: center;
    }

    th.is-active_end_date {
        line-height: 17px;
        padding: 5px;
    }

    .text-opacity {
        opacity: .5;
    }
}

.text-black {
    color: #2a2c36 !important;
}

.form-control-focus {
    border: 1px solid transparent;
    background: transparent;
    margin-left: -0.5rem;
}

.nav.justify-content-end {
    .nav-link:not(.active) {
        color: #55595c;
    }
}

.bootstrap-select {
    width: 100%;
}

.btn-multiselect {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);

    &:focus {
        outline: none !important;
    }
}

.bootstrap-select.btn-group .dropdown-menu li {

}

.bootstrap-select.btn-group .dropdown-menu li a {
    color: #55595c;
    padding: 5px;
    width: 100%;
    display: block;
}

.filter-option {
    color: #55595c;
}

.bootstrap-select.btn-group .dropdown-menu li.selected {
    font-weight: bold;
}

.table thead th {
    border-bottom: none;
}

.table .text-opacity {
    opacity: .5;
}
