
/*!
 * NODE MODULES
 */
// Icons
@import '~font-awesome/css/font-awesome.min.css';
@import '~simple-line-icons/css/simple-line-icons.css';

@import "~bootstrap/scss/bootstrap";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

//
// Grid mixins
//

@import "~bootstrap/scss/mixins/breakpoints";


// including variables and mixins
@import "../theme/variables";
@import "../theme/mixins";
@import "../theme/flexbox";
@import "../theme/reset";


// Custom Scss
@import "../theme/elements";
@import "../theme/header";
@import "../theme/home";
@import "../theme/footer";


@import "../packages/linearicons.css";
@import "../packages/owl.carousel.css";
//@import "../packages/font-awesome.min.css";
@import "../packages/nice-select.css";
@import "../packages/magnific-popup.css";

@import "../page-index";

.about-area .overlay-bg {
  background: rgba(108, 187, 35, 0.85);
}
.common-input option {
  color: #777777;
}

.primary-btn.white-bg:hover {
  background: #fff;

  border: 1px solid transparent;
  span {
    color: #6cbb23;
  }
}

@import './../../common/fancybox/jquery.fancybox.min.css';
@import './../../common/fancybox/fancybox.support.css';

$brand-primary:             #20a8d8;
$brand-success:             #6cbb23;
$brand-info:                #63c2de;
$brand-warning:             #f8cb00;
$brand-danger:              #f86c6b;

.common-input {
  &:focus {
    outline: none;
  }
  &.is-danger {
    border-color: $brand-danger;
    &::placeholder {
      //color: $brand-danger;
    }
  }
}


@import './../../common/toastr/toastr';
@import './../../cmf/package/loader';

.primary-btn:hover {
  background: #f1ffe5fc;
  .mr-10 {
    margin-right: 10px;
  }
}
.primary-btn.is-loading {
  height: 42px;
  width: 121.1px;
  position: relative;
  color: transparent !important;
  pointer-events: none;

  i:before {
    visibility: hidden;
  }
  span {
    display: none;
  }

  &:after {
    @include loader;
    @include center(16px);
    position: absolute;
  }
}
.section-gap {
  padding-top: 0;
}

[data-fancybox] {
  &:hover {
    @include transition();
    opacity: .9;
    cursor: pointer;
  }
}

.oz-body-wrap {
  &.__form-a {
    nav {
      @include media-breakpoint-down (sm) {
        background: $brand-success;
      }
    }
    nav a:hover {
      color: #fff;
    }
    .primary-btn.is-loading {
      &:after {
        border-right-color: $brand-success;
        border-top-color: $brand-success;
      }
    }
    .common-input {
      border-color: #fff;
      &.is-danger {
        border-color: $brand-danger;
      }
    }
  }
  &.__form-b {
    nav {
      @include media-breakpoint-down (sm) {
        background: $brand-primary;
      }
    }
    nav a:hover {
      color: #fff;
    }
    .genric-btn.primary-border {
      color: $brand-primary;
      border: 1px solid $brand-primary;
      background: #fff;
      &:hover {
        color: #fff;
        background: $brand-primary;
        border: 1px solid transparent;
      }
    }
    background: url(../img/video-bg.jpg) no-repeat center center/cover;
    .overlay-bg {
      background-color: rgba($brand-primary, 0.85);
    }
    .primary-btn.white-bg {
      span {
        color: $brand-primary;
      }
      &:hover {
        background: #fff;

        border: 1px solid transparent;

        span {
          color: $brand-primary;
        }
      }
    }
    .common-input {
      border-color: #fff;
      &.is-danger {
        border-color: $brand-danger;
      }
    }
    .primary-btn.is-loading {
      &:after {
        border-right-color: $brand-primary;
        border-top-color: $brand-primary;
      }
    }
    .footer-social a:hover {
      background: $brand-primary;
    }
  }
}
